body {
  font-size: 16px;
  color: #7F00FF;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
  padding-top: 90px;
  line-height: 1.6;}

/** HEADER **/
#header-nav {
  background-color: #ffffff;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: "Pangolin", cursive;
  color: #5D3FD3;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
}
#nav-list a {
  color: #7F00FF;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

@media (max-width: 767px) {
  #collapsable-nav {
    background-color: #f0f0f0; /* distinct background */
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
  }
  #collapsable-nav .nav-link {
    display: block;
    padding: 12px;
    color: #7F00FF;
  }

  #collapsable-nav .nav-link:hover {
    background-color: #E0E0E0;
  }
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

section h3 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}

h2, h3 {
  scroll-margin-top: 100px;

}

html {
  scroll-behavior: smooth;
}

/* END HEADER */

